<nav class="navbar navbar-expand-lg site-navbar sticky-top" [class.is-scrolled]="isScrolled">
  <div class="container">

    <a class="navbar-brand hc-brand" routerLink="/" (click)="closeMobileMenu()">
      <img src="assets/images/tsc-logo.png" alt="TooSmartCare Logo" class="hc-brand-logo" />
    </a>


    <button class="navbar-toggler hc-toggler" type="button" (click)="toggleMobileMenu()"
      [attr.aria-expanded]="mobileMenuOpen" aria-controls="navbarNav" aria-label="Toggle navigation">
      <i class="bi" [ngClass]="mobileMenuOpen ? 'bi-x-lg' : 'bi-list'"></i>
    </button>

    <div class="collapse navbar-collapse" [class.show]="mobileMenuOpen" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-lg-center hc-nav-list">

        <li class="nav-item">
          <a class="nav-link hc-nav-link" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" (click)="closeMobileMenu()">
            <i class="bi bi-house-door"></i>
            <span>Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link hc-nav-link" routerLink="/hospitals" routerLinkActive="active" (click)="closeMobileMenu()">
            <i class="bi bi-hospital"></i>
            <span>Hospitals</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link hc-nav-link" routerLink="/doctors" routerLinkActive="active" (click)="closeMobileMenu()">
            <i class="bi bi-person-badge"></i>
            <span>Doctors</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link hc-nav-link" routerLink="/coupons" routerLinkActive="active" (click)="closeMobileMenu()">
            <i class="bi bi-tag"></i>
            <span>Coupons</span>
          </a>
        </li>

        <ng-container *ngIf="currentUser$ | async as currentUser; else guestActions">
          <li class="nav-item dropdown hc-user-menu ms-lg-3 mt-2 mt-lg-0">
            <button class="hc-user-trigger" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="hc-user-avatar">{{ getUserInitial(currentUser.name) }}</span>
              <span class="hc-user-meta d-none d-lg-flex">
                <span class="hc-user-name">{{ currentUser.name }}</span>
                <span class="hc-user-role">My account</span>
              </span>
              <i class="bi bi-chevron-down hc-user-caret d-none d-lg-inline"></i>
            </button>

            <ul class="dropdown-menu dropdown-menu-end hc-user-dropdown">
              <li class="hc-user-header">
                <span class="hc-user-avatar hc-user-avatar-lg">{{ getUserInitial(currentUser.name) }}</span>
                <div>
                  <div class="fw-semibold">{{ currentUser.name }}</div>
                  <div class="text-muted small" *ngIf="currentUser.email">{{ currentUser.email }}</div>
                </div>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" routerLink="/profile" (click)="closeMobileMenu()">
                  <i class="bi bi-person"></i>My Profile
                </a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/change-password" (click)="closeMobileMenu()">
                  <i class="bi bi-shield-lock"></i>Change Password
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <button type="button" class="dropdown-item text-danger" (click)="logout(); closeMobileMenu()">
                  <i class="bi bi-box-arrow-right"></i>Logout
                </button>
              </li>
            </ul>
          </li>
        </ng-container>

        <ng-template #guestActions>
          <li class="nav-item ms-lg-3 mt-2 mt-lg-0">
            <a class="btn hc-btn-ghost" routerLink="/login" (click)="closeMobileMenu()">
              <i class="bi bi-box-arrow-in-right me-1"></i>Sign in
            </a>
          </li>
          <li class="nav-item ms-lg-2 mt-2 mt-lg-0">
            <a class="btn hc-btn-primary" routerLink="/register" (click)="closeMobileMenu()">
              <i class="bi bi-person-plus me-1"></i>Get started
            </a>
          </li>
        </ng-template>

      </ul>
    </div>
  </div>
</nav>