<div class="pagetitle">
    <!-- <h1>Hospitals</h1> -->
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="admin/dashboard">Home</a></li>
            <li class="breadcrumb-item active">All Hospitals</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">
        <div class="col-12">
            <div class="card recent-sales overflow-auto">

                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Hospital List</h5>

                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Hospital Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Address</th>
                                <th scope="col">Published</th>
                                <th scope="col">Created At</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let h of hospitalList; let i = index">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>
                                    <a class="btn-link">{{ h?.name }}</a>
                                </td>
                                <td>{{ h?.email }}</td>
                                <td>{{ h?.phone }}</td>
                                <td>{{ h?.address }}</td>
                                <td>{{ h.is_published ? 'Yes' : 'No' }}</td>
                                <td>{{ h?.createdAt | date:'dd MMM yyyy' }}</td>
                                <td>

                                    <button class="btn btn-sm btn-outline-primary" (click)="openHospitalModal(h)">
                                        <i class="bi bi-eye"></i> View
                                    </button>

                                </td>
                            </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</section>

<app-admin-hospital-profile-modal *ngIf="selectedHospital" [profile]="selectedHospital" [manage]="false"
    (closed)="selectedHospital = null">
</app-admin-hospital-profile-modal>