<div class="pagetitle">
    <!-- <h1>Hospital Specialties</h1> -->
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="admin/dashboard">Home</a></li>
            <li class="breadcrumb-item active">Hospital Specialties</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">
        <div class="col-12">
            <div class="card recent-sales overflow-auto">

                <div class="card-body">
                    <h5 class="card-title">Specializations</h5>

                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Hospital</th>
                                <th scope="col">Specialty</th>
                                <th scope="col">Created At</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let s of infoList; let i = index">
                                <th scope="row">{{ i + 1 }}</th>
                                <td><a class="btn-link">{{ s?.Hospital.name }}</a></td>
                                <td>{{ s?.specialties }}</td>
                                <td>{{ s.created_at | date:'dd MMM yyyy' }}</td>
                                <td>
                                    <button class="btn btn-sm btn-outline-primary me-1"
                                        (click)="openEditSpecialtyModal(s)" data-bs-toggle="modal"
                                        data-bs-target="#editSpecialtyModal">
                                        <i class="bi bi-eye"></i> Edit
                                    </button>
                                </td>
                            </tr>
                        </tbody>

                    </table>

                    <div class="modal fade" id="editSpecialtyModal" tabindex="-1">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content"> <!-- Modal Header -->
                                <div class="modal-header">
                                    <h5 class="modal-title">Update Specialty</h5> <button type="button"
                                        class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <!-- Modal Body -->
                                <div class="modal-body">
                                    <form [formGroup]="editSpecialtyForm" (ngSubmit)="updateSpecialty()">
                                        <div class="form-group mb-3">
                                            <label class="form-label">Hospital Name</label>
                                            <input type="text" class="form-control" formControlName="hospital_name"
                                                placeholder="Hospital Name">
                                            <div *ngIf="editSpecialtyForm.get('hospital_name')?.invalid && editSpecialtyForm.get('hospital_name')?.touched"
                                                class="text-danger small">
                                                Hospital Name is required
                                            </div>
                                        </div>

                                        <div class="form-group mb-3">
                                            <label class="form-label">Specialities</label>
                                            <select class="form-control" formControlName="specialties" multiple
                                                id="specialtiesSelect" style="width: 100%;">
                                            </select>
                                            <div *ngIf="editSpecialtyForm.get('specialties')?.invalid && editSpecialtyForm.get('specialties')?.touched"
                                                class="text-danger small">
                                                Specialties is required
                                            </div>
                                        </div>


                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </form>

                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>