<div class="card border mb-3">
  <div class="card-header border-bottom">
    <h5>Change Password</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label>Current Password</label>
        <input type="password" class="form-control" formControlName="currentPassword">
      </div>

      <div class="mb-3">
        <label>New Password</label>
        <input type="password" class="form-control" formControlName="newPassword">
      </div>

      <div class="mb-3">
        <label>Confirm New Password</label>
        <input type="password" class="form-control" formControlName="confirmPassword">
      </div>

      <button class="btn btn-primary" type="submit">
        Update Password
      </button>
    </form>
  </div>
</div>