<div class="container mt-4">
  <h3>Reset Password</h3>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label>New Password</label>
      <input type="password" class="form-control" formControlName="newPassword">
    </div>

    <div class="mb-3">
      <label>Confirm Password</label>
      <input type="password" class="form-control" formControlName="confirmPassword">
    </div>

    <button class="btn btn-success" type="submit">
      Reset Password
    </button>
  </form>
</div>
