<div class="d-flex flex-column min-vh-100">
      <app-header></app-header>
      <main class="flex-grow-1">
        <div class="container mt-4">
          <app-breadcrumb [title]="pageTitle"></app-breadcrumb>
          <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3">
              <app-sidebar></app-sidebar>
            </div>
            <!-- Main Content -->
            <div class="col-md-9">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>  
      </main>
      <app-footer></app-footer>
    </div>